{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Customer List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{% static 'Ecommerce/style.css' %}">
</head>
<body>
  <h1>Customer Details</h1>
    <div class="container">

        <div class="customer-details">
           <h3> {{cutomer.first_name}}{{ customer.last_name}} </h3>
           <p><strong>Phone: </strong> {{cutomer.phone}}</p> 
           <p><strong>Address: </strong> {{cutomer.address}}</p>
           <p><strong>Email: </strong> {{cutomer.email}}</p>
           <p><strong>Joined on: </strong> {{cutomer.created_at}}</p>
        </div>
       
        
    </div>
    

</body>
{% comment %} <a href ="{% url 'Ecommerce:customer_list' %}"> Back to Customer List</a> {% endcomment %}
</html>