{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Product List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{% static 'Ecommerce/style.css' %}">
</head>
<body>
  <h1>Products</h1>
  <ul> 
{% for product in products%}

 <li>
    <h2>{{product.name}} </h2>
    <p>  {{ product.description}}</p>
    <p> Price: Kshs. {{product.price}}</p>
    <img src="{{product.image.url}}" alt="{{product.name}}">
    <p> Available: {{product.available|yesno:"Yes,No"}} </p>
 </li>
{% endfor %}
  </ul>
  
  {% comment %} <a href="{% url 'Ecommerce:product_detail' %}" > Back to Product Details</a> {% endcomment %}
  
</body>

</html>