<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{product.name}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  
</head>
<body>

    
    <ul>
           {% for product in product %}
        <li>
            <h2>{{product.name}} </h2>
            <p>  {{ product.description}}</p>
            <p> Price: Kshs.{{product.price}}</p>
            <img src="{{product.image.url}}" alt="{{product.name}}">
            <p> Available: {{product.available|yesno:"Yes,No"}} </p>

        </li>
    {% endfor %}
    {% comment %} </ul><a href ="{% url 'product_list'%}" class="back-link"> Back to Product List</a> {% endcomment %}
    
</body>
</html>