body {
    background: white url("./media/images/background.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
h1 {
    color: azure;

}

a, p, h2, h3 {
    color: white;
}